# Ignore subfolder of folder
data/*/*
data/*.zip
data/*.tar.xz

# Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
*.pyc
*.pyo

# Source
src/darknet/*
src/tf2-yolov4/*

# Model
*.h5

# Yolo
notebook/signate*
data/yolo*