opencv-python==4.2.0.34
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-resnet==0.1.0
Cython==0.29.18
numpy==1.18.4
Pillow==7.1.2
progressbar2==3.51.3
